[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
pytest = "*"
mangum = "*"
fastapi-utils = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["argon2"], version = "*"}
pynamodb = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
